body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
	font-family: Arial;
}

.title {
	font-family: Arial;
	padding-left: 25px;
	padding-right: 25px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

	.navbar a {
		float: left;
		font-size: 15px;
		color: white;
		text-align: center;
		padding: 20px 25px;
		text-decoration: none;
	}

	.navbar #github-btn {
		float: right;
	}

.footer {
	background-color:blanchedalmond;
	overflow: hidden;
	padding: 20px;
	font-family: Arial;
	font-size: 15px;
	text-align: center;
}

.maintext {
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 75px;
	padding-right: 75px;
}