* {
    font-family: Arial, Helvetica, sans-serif;
	color: var(--text)
}

:root {
	--text: #000;
	--bg: rgb(205, 205, 205);
    --hovercolor: darkgray;
    --headercolor: dimgray;
}

body, html {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;  
}

header {
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 2% 2%;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    position: sticky;
    z-index: 10;
}

    #logoandtitle {
        display: flex;
        align-items: center;
        user-select: none;
        pointer-events: none;
    }

    #pfp {
        max-height: 80px;
        border-radius: 5px;
        margin-right: 10px;
    }

    #title {
        font-family: 'Trebuchet MS', 'Product Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 170%;
        margin-left: 10px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: cadetblue;
        border-radius: 8px;
        width: auto;
        flex-wrap: nowrap;
        margin-left: auto;
        position: relative;
        z-index: 10;
    }

    nav a {
        padding: 20px 30px;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        color: black;
        transition: background-color 0.3s, color 0.3s;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    nav a:hover {
        background-color: darkcyan;
        color: white;
    }  

    /* Hamburger icon */
    #hamburgericon {
        display: none;
        cursor: pointer;
        float: right;
        clear: right;
        margin: 0 20px;
    }

    #hamburgericon div {
        width: 35px;
        height: 4px;
        background-color: lightgray;
        margin: 6px 0;
        transition: 0.4s;
    }

    /* Mobile menu - initially hidden */
    #mobileMenu {
        display: none;
        flex-direction: column;
        background-color: cadetblue;
        position: absolute;
        border-radius: 1.75%;
        top: 16%;
        width: 75%;
        z-index: 10;
    }

    #mobileMenu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #mobileMenu li {
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #mobileMenu a {
        display: block;
        padding: 4%;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    #mobileMenu a:hover {
        background-color: darkcyan;
        color: white;
    }

main {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    flex: 1;
}

#mainpage {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 150%;
}

#smbuttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    #smbuttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(185, 185, 185);
        border: solid;
        border-radius: 10px;
        border-color: darkslategray;
        padding: 2%;
        height: auto;
        text-align: center;
        color: var(--text);
    }

    #smbuttons img {
        user-select: none;
        max-height: 30px;
        width: auto;
        margin-right: 10px;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
    }

    #smbuttons .bsky {
        filter: brightness(0);
    }

    #smbuttons span {
        font-family: 'Product Sans';
        font-weight: 550;
        font-size: 100%;
        color: black;
    }

    #smbuttons a:hover {
        background-color: var(--hovercolor);
    }

a {
    text-decoration: none;
    color: darkslategray;
}

footer {
    background-color: cadetblue;
    display: flex;
    padding: 1%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    clear: both;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

    footer span {
        color: white;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

#tut {
    text-align: left;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
	:root {
	  --text: #fff;
	  --bg: rgb(35, 35, 35);
      --hovercolor: dimgray;
	}

    /**/
    #smbuttons a {
		background-color: darkslategray;
		border: 2px solid darkgray;
	}

	#smbuttons span {
		color: var(--text);
	}

	#smbuttons img {
		filter: invert();
	}

	#smbuttons .bsky {
		filter: brightness(100);
	}

	#note span {
		color: black;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Responsiveness */
@media only screen and (min-width: 1024px) {
    #mobilelandscape, #hamburgericon {
        display: none;
    }
}

@media only screen and (max-width: 1199px) /*smaller screens*/ {
    #notformobiledevices, nav {
        display: none;
    }

    #logoandtitle {
        float: none;
    }

    footer {
        width: 100%;
    }
}

@media only screen and (max-width: 1199px) {
    body, html {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        display: flex;
    }

    header {
        border: 0;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
    }

    nav {
        display: none; /* Hide desktop menu */
    }

    #hamburgericon {
        display: block; /* Show hamburger icon */
    }
}

@media only screen and (max-width: 359px) {
    header {
        display: flex;
        padding: auto;
        margin: 5%;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

        #title {
            font-size: 110%;
            margin-left: 15px;
        }

        #pfp {
            max-height: 35px;
            margin-right: 0;
        }
        
        #mobileMenu {
            top: 120%;
        }

            #mobileMenu li {
                font-size: 70%;
            }

    #mainpage {
        font-size: 100%;
    }

    #mainpage h2 {
        font-size: 150%;
    }

    #smbuttons {
        margin-left: 12%;
        margin-right: 12%;
        gap: 7px;
    }

        #smbuttons a {
            padding: 2.5%;
        }

        #smbuttons span {
            font-size: 75%;
        }

        #smbuttons img {
            height: 18px;
        }

    footer {
        padding: 2%;
    }

        footer span {
            font-size: 60%;
        }
}

@media only screen and (min-width: 360px) and (max-width: 599px) {
    header {
        display: flex;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: auto;
        padding-right: auto;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

        header #pfp {
            max-height: 40px;
        }

        #title {
            margin-left: 5px;
            font-size: 110%;
        }

        #mobileMenu {
            top: 100%;
        }

            #mobileMenu li {
                font-size: 100%;
            }

    #smbuttons {
        margin-left: 4.5%;
        margin-right: 4.5%;
        gap: 10px;
    }

        #smbuttons a {
            padding: 2.5%;
        }

        #smbuttons span {
            font-size: 60%;
        }

        #smbuttons img {
            height: 20px;
        }
    
    footer {
        padding: 2%;
    }

        footer span {
            font-size: 75%;
        }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    #title {
        margin-left: 0;
        font-size: 140%;
    }

    header {
        display: flex;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: auto;
        padding-right: auto;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

    header #pfp {
        max-height: 75px;
    }

    #smbuttons {
        margin-left: 18%;
        margin-right: 18%;
        gap: 10px;
    }

        #smbuttons a {
            padding: 4%;
        }

        #smbuttons span {
            font-size: 90%;
        }

        #smbuttons img {
            height: 25px;
        }
}

@media only screen and (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #title {
        margin-left: 15px;
        font-size: 160%;
    }

    header {
        display: flex;
        padding-top: 8%;
        padding-bottom: 8%;
        padding-left: auto;
        padding-right: auto;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

        header #pfp {
            max-height: 120px;
        }

        header #title {
            font-size: 180%;
        }

    #mobileMenu {
        top: 100%;
    }

        #mobileMenu li {
            font-size: 140%;
        }

    #smbuttons {
        margin-left: 8%;
        margin-right: 8%;
        gap: 10px;
    }

        #smbuttons a {
            padding: 3%;
        }

        #smbuttons span {
            font-size: 115%;
        }

        #smbuttons img {
            height: 30px;
        }

    #mainpage {
        font-size: 150%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #title {
        margin-left: 0;
        font-size: 180%;
    }

    header {
        display: flex;
        padding-top: 8%;
        padding-bottom: 8%;
        padding-left: auto;
        padding-right: auto;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
    }

    header #pfp {
        max-height: 100px;
    }

    #title {
        font-size: 200%;
        margin-left: 45px;
    }

    #smbuttons {
        margin-left: 3%;
        margin-right: 3%;
        gap: 10px;
    }

        #smbuttons a {
            padding: 2%;
        }

        #smbuttons span {
            font-size: 100%;
        }

        #smbuttons img {
            height: 90px;
        }

    #mainpage {
        font-size: 175%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    #title {
        margin-left: 15px;
        font-size: 140%;
    }

    header {
        display: flex;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: auto;
        padding-right: auto;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: left;
        align-items: center;
    }

    header #pfp {
        max-height: 80px;
    }  


    nav a {
        padding: 14px 24px;
        text-align: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 95%;
        color: black;
        transition: background-color 0.3s, color 0.3s;
    }

    #smbuttons {
        margin-left: 2%;
        margin-right: 2%;
        gap: 10px;
    }

        #smbuttons a {
            padding: 1.5%;
        }

        #smbuttons span {
            font-size: 85%;
        }

        #smbuttons img {
            max-height: 30px;
        }
}

/*Temporary*/
@media only screen and (max-width: 1023px) and (orientation: portrait) {
    #mobilelandscape {
        display: none;
    }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
    #mobilelandscape {
        font-size: 5%;
        text-align: center;
        padding-left: 12%;
        padding-right: 12%;
    }

    #smbuttons, #smbuttons {
        display: none;
    }
}

#mobilelandscape {
    text-align: center;
}